.card {
  display: flex;
  flex-direction: column;
  margin: 20px 7px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
  width: 30%;
  min-width: 130px;
  margin: 2rem auto;
  position: relative;
}
.img {
  width: 100%;
  text-align: center;
  object-fit: cover;
}

.info {
  text-align: center;
  width: 100%;
  padding: 0 5px;
  margin-bottom: 1.4rem;
}
.link {
  position: absolute;
  bottom: -2px;
  right: -2px;
}

@media (max-width: 600px) {
  .card {
    width: 90%;
    justify-content: space-between;
  }
}
